* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}

.logo {
    font-size: 50 px;
    font-weight: 700;
    color: #161C2D;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #161C2D;
    font-weight: 700;
}

nav ul li a.active {
    color: #ff6b4a;
}

.about a {
    text-decoration: none;
    margin-left: 30px;
    font-weight: 600;
    color: #111;
}


.headings {
    text-align: center;
    padding: 100px 80px;
    background-color: #ffffff;

}

.headings h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.headings p {
    color: #6b7280;
    max-width: 700px;
    margin: 0 auto 50px;
}

.image-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.image-item img {
    height: 700;
}

.heading-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    padding: 120px 150px;
    width: 100%;
    background: #fff;
}

.heading-first h2 {
    font-size: 50px;
    font-weight: 700;
    color: #1c1f26;
    line-height: 1.2;
    max-width: 500px;
}


.heading-second {
    max-width: 600px;
}

.heading-second p {
    color: #5a5f69;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.coders-images {
    background: #F4F7FA;
    padding: 120px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.coders-images img {
    width: 475px;
    height: 616px;
    border-radius: 14px;
    object-fit: cover;
}


.text {
    max-width: 550px;
}

.text h3 {
    font-size: 48px;
    color: #1c1f26;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px;
}

.text p {
    color: #5a5f69;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 25px;
}

body {
    margin: 0;
    background: #f4f7fa;
}

.about-team {
    padding: 80px 0;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    background: #f4f7fa;
}

.about-team h4 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.team-parag {
    max-width: 500px;
    margin: 12px auto 50px auto;
    color: #6b7280;
    line-height: 1.5;
}

.image-list {
    display: flex;
    justify-content: center;
    gap: 40px 35px;
}


.footer {
    background: #1b2230;
    padding: 80px 0;
    color: #d1d5db;
    width: 100%;
}

.footer-container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.footer-left h2 {
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.footer-left p {
    margin: 20px 0;
    line-height: 1.6;
    color: #9aa3b2;
}

.footer-socials img {
    width: 28px;
    margin-right: 12px;
    cursor: pointer;
    opacity: 0.85;
    transition: 0.2s;
}

.footer-socials img:hover {
    opacity: 1;
}


.footer-columns {
    display: flex;
    gap: 80px;
}

.footer-col .name {
    margin-bottom: 18px;
    color: white;
    font-size: 16px;
}

.footer-col a {
    display: block;
    color: #9aa3b2;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.footer-col a:hover {
    color: white;
}